stages:
  - test
  - build
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

services:
  - docker:24-dind

# -------------------------
# TEST JOB
# -------------------------
test:
  stage: test
  image: node:20-alpine
  script:
    - cd api-gateway && npm install && cd ..
    - cd service1 && npm install && cd ..
    - cd service2 && npm install && cd ..
  only:
    - main

# -------------------------
# GOOGLE CLOUD LOGIN TEMPLATE
# -------------------------
.gcp-login: &gcp-login
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:slim
  before_script:
    - apt-get update
    - apt-get install -y docker.io
    - echo "$GCP_SA_KEY_JSON" > key.json
    - gcloud auth activate-service-account --key-file=key.json
    - gcloud config set project glassy-song-449317-a9
    - gcloud auth configure-docker asia-south1-docker.pkg.dev --quiet

# -------------------------
# API GATEWAY BUILD
# -------------------------
api-gateway-build:
  stage: build
  <<: *gcp-login
  script:
    - cd api-gateway
    - docker build -t asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/api-gateway:${CI_COMMIT_SHORT_SHA} .
    - docker push asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/api-gateway:${CI_COMMIT_SHORT_SHA}
  only:
    - main

# -------------------------
# SERVICE1 BUILD
# -------------------------
service1-build:
  stage: build
  <<: *gcp-login
  script:
    - cd service1
    - docker build -t asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/service1:${CI_COMMIT_SHORT_SHA} .
    - docker push asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/service1:${CI_COMMIT_SHORT_SHA}
  only:
    - main

# -------------------------
# SERVICE2 BUILD
# -------------------------
service2-build:
  stage: build
  <<: *gcp-login
  script:
    - cd service2
    - docker build -t asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/service2:${CI_COMMIT_SHORT_SHA} .
    - docker push asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/service2:${CI_COMMIT_SHORT_SHA}
  only:
    - main

# -------------------------
# DEPLOY
# -------------------------
deploy:
  stage: deploy
  script:
    - echo "Images pushed to GAR ✅"
    - echo "ArgoCD will auto sync ✅"
  when: manual
  only:
    - main
