stages:
  - test
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  IMAGE_NAME: wrakash/sky-gateway
  HELM_CHART_PATH: helm

cache:
  paths:
    - node_modules/

test:
  stage: test
  image: node:20-alpine
  before_script:
    - npm ci
  script:
    - npm run lint
    - npm run test
  only:
    - main
    - develop

build:
  stage: build
  image: docker:24-dind
  services:
    - docker:24-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - IMAGE_TAG=${CI_COMMIT_SHORT_SHA:-latest}
    - FULL_IMAGE_NAME=${CI_REGISTRY}/${IMAGE_NAME}:${IMAGE_TAG}
    - docker build -t "$FULL_IMAGE_NAME" .
    - docker push "$FULL_IMAGE_NAME"
  artifacts:
    reports:
      dotenv: build.env
  only:
    - main
    - develop
    - tags

deploy:
  stage: deploy
  image: alpine/helm:3.12.0
  dependencies:
    - build
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG" | base64 -d > ~/.kube/config
  script:
    - helm upgrade --install api-gateway $HELM_CHART_PATH \
        --namespace default \
        --set image.tag=$CI_COMMIT_SHORT_SHA
  only:
    - main
  when: manual
