stages:
  - test
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

# -------------------------
# TEST JOB
# -------------------------
test:
  stage: test
  image: node:20-alpine
  script:
    - cd api-gateway && npm install && cd ..
    - cd service1 && npm install && cd ..
    - cd service2 && npm install && cd ..
  only:
    - main
    - merge_requests

# -------------------------
# API GATEWAY BUILD
# -------------------------
api-gateway-build:
  stage: build
  image: docker:24-dind
  services:
    - docker:24-dind
  variables:
    IMAGE_NAME: wrakash/sky-gateway
  before_script:
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - cd api-gateway
    - docker build -t ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA} .
    - docker push ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}
  only:
    - main

# -------------------------
# SERVICE1 BUILD
# -------------------------
service1-build:
  stage: build
  image: docker:24-dind
  services:
    - docker:24-dind
  variables:
    IMAGE_NAME: wrakash/sky-service1
  before_script:
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - cd service1
    - docker build -t ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA} .
    - docker push ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}
  only:
    - main

# -------------------------
# SERVICE2 BUILD
# -------------------------
service2-build:
  stage: build
  image: docker:24-dind
  services:
    - docker:24-dind
  variables:
    IMAGE_NAME: wrakash/sky-service2
  before_script:
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - cd service2
    - docker build -t ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA} .
    - docker push ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}
  only:
    - main

# -------------------------
# DEPLOY JOB (MANUAL)
# -------------------------
deploy:
  stage: deploy
  image: alpine/helm:3.12.0
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG" | base64 -d > ~/.kube/config
  script:
    - echo "Deployment triggered (but ArgoCD handles actual deployment)"
  when: manual
  only:
    - main
