stages:
  - test
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

# -------------------------
# TEST JOB
# -------------------------
test:
  stage: test
  image: node:20-alpine
  script:
    - cd api-gateway && npm install && cd ..
    - cd service1 && npm install && cd ..
    - cd service2 && npm install && cd ..
  only:
    - main

# -------------------------
# LOGIN TO GOOGLE ARTIFACT REGISTRY
# -------------------------
.gcp-login: &gcp-login
  before_script:
    - echo "$GCP_SA_KEY_B64" | base64 -d > key.json
    - gcloud auth activate-service-account --key-file=key.json
    - gcloud auth configure-docker asia-south1-docker.pkg.dev --quiet

# -------------------------
# API GATEWAY BUILD
# -------------------------
api-gateway-build:
  stage: build
  image:
    name: gcr.io/google.com/cloudsdktool/cloud-sdk:slim
  <<: *gcp-login
  script:
    - cd api-gateway
    - docker build -t asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/api-gateway:${CI_COMMIT_SHORT_SHA} .
    - docker push asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/api-gateway:${CI_COMMIT_SHORT_SHA}
  only:
    - main

# -------------------------
# SERVICE1 BUILD
# -------------------------
service1-build:
  stage: build
  image:
    name: gcr.io/google.com/cloudsdktool/cloud-sdk:slim
  <<: *gcp-login
  script:
    - cd service1
    - docker build -t asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/service1:${CI_COMMIT_SHORT_SHA} .
    - docker push asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/service1:${CI_COMMIT_SHORT_SHA}
  only:
    - main

# -------------------------
# SERVICE2 BUILD
# -------------------------
service2-build:
  stage: build
  image:
    name: gcr.io/google.com/cloudsdktool/cloud-sdk:slim
  <<: *gcp-login
  script:
    - cd service2
    - docker build -t asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/service2:${CI_COMMIT_SHORT_SHA} .
    - docker push asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/service2:${CI_COMMIT_SHORT_SHA}
  only:
    - main

# -------------------------
# DEPLOY JOB (ARGO CD)
# -------------------------
deploy:
  stage: deploy
  script:
    - echo "ArgoCD handles deployment, GitLab only triggers image build"
  when: manual
  only:
    - main
