apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "service2.fullname" . }}
  labels:
    {{- include "service2.labels" . | nindent 4 }}

spec:
  replicas: {{ .Values.replicaCount }}

  selector:
    matchLabels:
      {{- include "service2.selectorLabels" . | nindent 6 }}

  template:
    metadata:
      labels:
        {{- include "service2.selectorLabels" . | nindent 8 }}

    spec:
      serviceAccountName: {{ include "service2.serviceAccountName" . }}

      containers:
        - name: {{ .Chart.Name }}

          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - name: http
              containerPort: 3002
              protocol: TCP

          env:
            {{- toYaml .Values.env | nindent 12 }}

          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 15
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
