replicaCount: 1

image:
  repository: asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/service1
  tag: "sha256:6dfc46cf4a23805c348dae391327fe1ec1f9eb4e50bde85987c74f5946d4539b"
  pullPolicy: Always

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 3001

env:
  - name: HTTP_PORT
    value: "3001"
  - name: TCP_PORT
    value: "3003"
  - name: NODE_ENV
    value: "production"

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

ingress:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
