replicaCount: 1

image:
  repository: "asia-south1-docker.pkg.dev/glassy-song-449317-a9/prod-docker-repo/api-gateway"
  tag: "v1"   # MUST MATCH your pushed tag

  pullPolicy:  Always   # Force Kubernetes to use NEW image

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

service:
  type: LoadBalancer
  port: 3000

env:
  - name: PORT
    value: "3000"
  - name: NODE_ENV
    value: "production"
  - name: SERVICE1_URL
    value: "http://service1:3001"
  - name: SERVICE2_URL
    value: "http://service2:3002"

livenessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 40
  periodSeconds: 10
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 30
  periodSeconds: 5
  timeoutSeconds: 5 
resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: api-gateway.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

autoscaling:
  enabled: false        # HPA disabled (no scaling)
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
